@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
 --button-vio: #be7dbe;
  --back-lila: #f3d4f3;
  --back-lila_s: #f3f0f3;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--back-lila_s);
  color: #2e2e2e;
}

html {
    scroll-behavior: smooth; /* Para que los links del navbar bajen con animación */
}

body {
    line-height: 1.6;
    overflow-x: hidden; /* Evita el scroll horizontal molesto en móviles */
    font-family: sans-serif; /* Cambiala por tu Google Font luego */
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}