@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
 --button-vio: #be7dbe;
  --back-lila: #f3d4f3;
  --back-lila_s: #f3edf3;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--back-lila_s);
  color: #2e2e2e;
}