@import "../css/base.css";

.contacto {
    padding: 80px 20px;
    background-color: var(--back-lila); 
    text-align: center;
}

.contacto-titulo {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.contacto-card {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background: var(--back-lila_s);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1); /* Sombra pro */
}

/* --- Formulario (Izquierda) --- */
.contacto-form-container {
    flex: 1.2;
    padding: 50px;
    text-align: left;
}

.contacto-form-container h3 {
    margin-bottom: 25px;
    color: black;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input, .input-group textarea {
    width:100%;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: #f9f9f9;
    font-family: inherit;
    transition: 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: var(--back-lila);
    background: #fff;
}

.btn-enviar {
    background-color: var(--button-vio);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: background-color 1s ease-in;
}

.btn-enviar:hover {
    background: linear-gradient(90deg, #7c84f8, #fd2bfd);
    transform: translateY(-2px);
}

/* --- Info (Derecha) --- */
.contacto-info-container {
    flex: 0.8;
    background-color: var(--button-vio); 
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.contacto-info-container h3 {
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-item i {
    margin-right: 15px;
    font-size: 1.2rem;
}

.mapa-wrapper {
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    height: 150px;
    border: 2px solid rgba(255,255,255,0.2);
}

.mapa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-group input:valid {
    border-color: #e0e0e0; /* Color gris suave original */
}

/* 2. Solo mostramos un color especial cuando el usuario está escribiendo (Focus) */
.input-group input:focus {
    outline: none;
    border-color: var(--button-vio); /* Usamos tu color púrpura */
    background: #fff;
    box-shadow: 0 0 5px rgba(124, 132, 248, 0.2); /* Un brillo sutil */
}

.input-group input.input-error {
    border-color: #e74c3c !important;
}

/* Responsive para celulares */
@media (max-width: 768px) {
    .contacto-card {
        flex-direction: column;
    }
    .contacto-form-container, .contacto-info-container {
        padding: 30px;
    }
}