@import "../css/base.css";

.contact{
  min-height:50vh;
  background-color: var(--back-lila);
  padding: 75px;
  text-align: center;
}

.container-contact{
  max-width: 800px;
  margin: 0 auto;
}

.container-contact h2{
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.contact-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact-form{
  text-align: left;
}

form h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group{
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
  font-size: 0.8rem;
}

.button-contact{
  background-color: #198754;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.contact-info{
  text-align: center;
  margin-left: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 50px;
}

.container-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info p{
  margin-bottom: 10px;
  color: #333;
}

.contact-info i{
  font-size: 2rem;
  padding-right: 10px;
  color: #157347;
}

/* RESPONSIVE */
@media (max-width: 830px){
  .contact-wrapper{
    grid-template-columns: 1fr;
    text-align: center;
  }
}