.footer {
  background-color: var(--back-lila);
  color: var(--button-vio);
  padding: 20px 0;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-links li a {
  text-decoration: none;
  color: var(--button-vio);
  font-size: 1.5rem;
  transition: color 0.1s ease-in-out;
}

.social-links li a:hover {
 background: linear-gradient(90deg, #7c84f8, #fd2bfd);
 -webkit-background-clip: text;
 color: white;
}

.container-footer {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  text-align: center;
}