.main-navbar {
    background: var(--back-lila);  
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 100px;
  width: auto;
  max-height: 50%;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.1s ease;
}

.nav-links li a:hover {
  background: linear-gradient(90deg, #7c84f8, #fd2bfd);
  -webkit-background-clip: text;
  color: transparent;
}

.cta-button {
  background-color: var(--button-vio);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 1s ease-in-out;
}

.cta-button:hover {
  background: linear-gradient(90deg, #7c84f8, #fd2bfd);
  color: white;
}



.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

/* Desktop */
@media (min-width: 901px) {
  nav .nav-links {
    display: flex;
    gap: 25px;
  }
}

/* Mobile */
@media (max-width: 900px) {


  /* ssssssss */

  .nav-toggle {
    display: block;
    z-index: 9999;
  }

  nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: var(--back-lila);
    padding: 20px 0;
    display: none;
  }

  nav.active {
    display: block;
  }

  nav .nav-links {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .main-navbar .cta-button {
    display: none;
  }
}