/* ===============================
    PROFESIONAL SECTION
================================== */


@import "../css/base.css";

.profesional-section {
  width: 100%;
  padding: 80px 0;
}

.profesional-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0 25px;
}

/* Texto */
.prof-text {
  flex: 1;
}

.prof-name {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.prof-cargo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--button-vio); /* azul suave */
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

/* ===== LISTAS PRINCIPALES ===== */
.prof-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.prof-list > li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Punto principal */
.prof-list > li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 18px;
  color: var(--back-lila); 
}



/* ===== LISTAS SECUNDARIAS (sub-items) ===== */
.prof-list ul {
  list-style: none;
  padding-left: 20px; /* menos indentación */
  margin-top: 6px;
}

.prof-list ul li {
  position: relative;
  padding-left: 14px;
  margin-bottom: 6px;
  font-size: 15px;
}

/* Punto secundario */
.prof-list ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 14px;
  color: #A78BD3; /* violeta más suave */
}

/* Imagen */
.prof-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.prof-img {
  width: 100%;
  max-width: 480px;
  border-radius: 18px;
  object-fit: cover;
}

/* ===============================
    RESPONSIVE MOBILE
================================== */
@media (max-width: 900px) {
  .profesional-container {
    flex-direction: column;
    text-align: center;
  }

  .prof-list li {
    justify-content: center;
    font-size: 16px;
  }

  .prof-text {
    order: 2;
  }

  .prof-img-container {
    order: 1;
  }
}